<div class="footer">
    <h1>Footer</h1>
    <p>My supercool footer</p>
  </div>

  <style>
.footer {
    padding: 20px;
    text-align: center;
    background: gray;
    color: white;
    font-size: 30px;
  }
  </style>
  